.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pour centrer verticalement */
}

.blur-box {
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond semi-transparente */
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Appliquer un flou */
    -webkit-backdrop-filter: blur(10px); /* Pour les navigateurs WebKit (Safari) */
}

.blur-box button {
    margin: 5px;
}
