body {
    margin: 0;
}

* {
    font-family: sans-serif;
}

.content {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    column-gap: 40px;
}

.board {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(208, 237, 231);
    padding: auto;
    max-width: calc(100vh - 200px);
}

.header h1 {
    text-align: center;
    padding: 10px;
    width: 100%;
}
.header.p2 {
    background-color: rgb(243, 204, 204);
}

.grid {
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    max-width: calc(100vh - 200px);
    background-color: rgba(238, 253, 253, 50);
}

.grid>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
}

.grid>div:hover {
    background-color: rgb(213, 255, 255);
    cursor: pointer;
}

.disable {
    pointer-events: none;
    cursor: auto;
}

.grid>div>.ship {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.grid>div>.ship-A,
.grid>div>.ship-a {
    background-color: rgb(223, 147, 147);
}

.grid>div>.ship-B,
.grid>div>.ship-b {
    background-color: rgb(147, 184, 223);
}

.grid>div>.ship-C,
.grid>div>.ship-c {
    background-color: rgb(167, 223, 147);
}

.grid>div>.ship-D,
.grid>div>.ship-d {
    background-color: rgb(223, 147, 210);
}

.grid>div>.ship-E,
.grid>div>.ship-e {
    background-color: rgb(223, 200, 147);
}

.grid>div>.ship-F,
.grid>div>.ship-f {
    background-color: rgb(147, 223, 212);
}

.grid>div>.ship-A:hover,
.grid>div>.ship-a:hover {
    background-color: rgb(225, 131, 131);
}

.grid>div>.ship-B:hover,
.grid>div>.ship-b:hover {
    background-color: rgb(125, 173, 223);
}

.grid>div>.ship-C:hover,
.grid>div>.ship-c:hover {
    background-color: rgb(146, 224, 118);
}

.grid>div>.ship-D:hover,
.grid>div>.ship-d:hover {
    background-color: rgb(223, 123, 206);
}

.grid>div>.ship-E:hover,
.grid>div>.ship-e:hover {
    background-color: rgb(224, 194, 122);
}

.grid>div>.ship-F:hover,
.grid>div>.ship-f:hover {
    background-color: rgb(121, 222, 207);
}

.grid>div>.ship-X {
    background-color: rgb(177, 177, 177);
}

.grid>div>.ship-X:hover {
    background-color: rgb(138, 138, 138);
}
.cell.dragged {
    position: relative;
}

.cell.dragged .ship {
    opacity: 0.5;
    position: absolute;
    transform: scale(0.9) translateX(-50%) translateY(-50%);
    transform-origin: center;
    z-index: 10;
}

.cell.water .ship > * {
    display: none;
}

.cell.water .ship {
    opacity: 0.5;
    transform: scale(0.9);
}

.cross-outer {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.cross-inner {
    width: inherit;
    text-align: center;
}

.cross-inner:before,
.cross-inner:after {
    position: absolute;
    content: '';
    height: 6px;
    border-radius: 3px;
    width: inherit;
    background: #565656;
    left: 0;
    transition: all .3s ease-in;
    width: 80%;
}

.cross-inner:before {
    top: 50%;
    left: 10%;
    transform: rotate(45deg);
}

.cross-inner:after {
    top: 50%;
    left: 10%;
    transform: rotate(-45deg);
}

.target {
    width: 10px;
    height: 10px;
    background-color: rgb(104, 137, 92);
    border-radius: 50%;
    margin: auto;
}

.btn-valid {
    position: absolute;
    right: 20px;
    bottom: 50%;
    padding: 10px 20px;
    transform: translateY(50%);
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid #3498db;
    color: #3498db;
    background-color: #fff;
    border-radius: 10px;
}

.btn-valid:hover {
    background-color: #3498db;
    color: #fff;
}

.header {
    position: relative;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: transparent;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-content h1 {
    width: 100%;
    text-align: center;
    font-size: 60px;
}