@page "/"
@using Microsoft.AspNetCore.Components.Web
@using System
@using System.Net.Http
@using System.Net.Http.Json
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject HttpClient Http
@using BattleShip.Models.DTO

@if (game == null)
{
    <p>No Todo Items found.</p>
}
else
{
    <ul>
        <li>@game.Identifier</li>
    </ul>
}

@code {
    private GameDto? game;

    protected override async Task OnInitializedAsync() => 
        game = await Http.GetFromJsonAsync<GameDto>("http://localhost:5015/game/start");
}