@page "/"
@using Microsoft.AspNetCore.Components.Web
@using System
@using System.Net.Http
@using System.Net.Http.Json
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject HttpClient Http
@using BattleShip.Models.DTO

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BattleShip.App</title>
    <base href="/" />
    <link rel="stylesheet" href="css/home.css" />
</head>

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="blur-box">
        <h1> Bataille navale!! </h1>
        <div class="button-with-image">
            <img src="image/joueur_solo.png" alt="solo" class="button-image" />
            <button @onclick="NavigateToIa">Joueur VS IA</button>
        </div>
        <div class="button-with-image">
            <img src="image/joueur_multi.png" alt="multi" class="button-image" />
            <button @onclick="NavigateToPlayer">Joueur VS Joueur</button>
        </div>
    </div>
</div>

@code {
    private void NavigateToIa() {
        NavigationManager.NavigateTo("JoueurVsIa");
    }


    private void NavigateToPlayer() {
        NavigationManager.NavigateTo("JoueurVsJoueur");
    }
}