@page "/JoueurVsIa"
@inject HttpClient HttpClient
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Net.Http
@using BattleShip.Models.DTO

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BattleShip.App</title>
    <link rel="stylesheet" href="css/grid.css" />
</head>

@if (game == null)
{
    <p>Error 500: Game not create.</p>
}
else
{
    <div class="content">
        <div class="grid">
            @for (int x = 0; x < 10; x++)
            {
                @for (int y = 0; y < 10; y++)
                {
                    @if(game.VisibleBoard.Grid[x][y] == '\0') {
                        <div class="cell"></div>
                    }
                    else if(game.VisibleBoard.Grid[x][y] == 'O') {
                        <div class="cell">
                            <div class="target"></div>
                        </div>
                    }
                    else {
                        <div class="cell">
                            <div class="ship ship-@game.VisibleBoard.Grid[x][y]"></div>
                        </div>
                    }
                }
            }
        </div>
        <div class="grid">
            @for (int x = 0; x < 10; x++)
            {
                @for (int y = 0; y < 10; y++)
                {
                    <div class="cell"></div>
                }
            }
        </div>
    </div>
}

@code {
    private GameDto? game;

    protected override async Task OnInitializedAsync() => 
        game = await Http.GetFromJsonAsync<GameDto>("http://localhost:5015/game/start");
}